body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, div{font-family: "Microsoft Yahei",Tahoma; font-size: 12px; border:0; margin:0; padding:0}

.photo-upload-card{width:1000px; height:600px; border:0px solid red; overflow:hidden}

.album-group-list{width:230px; height:600px; border:0px solid red; background-color:#FFF; position:relative; top:0; left:0; overflow-y:auto}
.album-group-title{width:230px; height:29px; border-top:1px solid #BCCBD2; background-color:#EEE; position:relative; top:0; left:0; font-size:12px; line-height:25px}
.album-group{width:223px; height:18px; border:1px solid #F7F7F7; background-color:#F7F7F7; padding:5px 0 2px 5px; position:relative; top:0; left:0; font-size:12px}

.album-group:HOVER{width:223px; height:18px; border:1px solid #F7F7F7; background-color:#E8F2FE; padding:5px 0 2px 5px; position:relative; top:0; left:0; font-size:12px}

.album-box{width:230px; border:0px solid red; background-color:#FFF; position:relative; top:0; left:0}

.album{width:230px; height:50px; border:0px solid #000}

.album .album-cover{widows:50px; height:50px; border:0px solid red; position:relative; top:0; left:0}

.album .album-cover img{max-width:50px; max-height:50px; border:0}

.album .album-name{width:180px; height:50px; border:0px solid red; position:relative; top:-50px; left:50px; font-size:12px; line-height:30px}
.photo-upload-box{width:770px; height:600px; border:0px solid red; position:relative; top:-600px; left:230px; overflow:hidden}
.photo-upload-box .photo-upload-tool{width:768px; height:30px; border:0; border-right:1px solid #BCCBD2; border-left:1px solid #BCCBD2; background-color:#EEE; line-height:30px}
